!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
application/frontend/**/*.js
application/functions/add-item/index.js
application/functions/get-items/index.js
application/functions/shared-code/nodejs/*.js